<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Alligator</string>
	<string>Ant</string>
	<string>Baboon</string>
	<string>Bat</string>
	<string>Bear</string>
	<string>Bee</string>
	<string>Beetle</string>
	<string>Bluebird</string>
	<string>Buffalo</string>
	<string>Butterfly</string>
	<string>Camel</string>
	<string>Canary</string>
	<string>Cat</string>
	<string>Cheetah</string>
</array>
</plist>
